services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=envet_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build:
      context: .
    ports:
      - 8000:8000
    volumes:
      - ./event_manager:/app
    depends_on:
      - db
      - redis
    environment:
      - DB_HOST=db
      - DB_NAME=envet_db
      - DB_USER=admin
      - DB_PASSWORD=admin
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: sh -c "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"

    
      
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
      
  celery:
    build:
      context: .
    depends_on:
      - db
      - redis
    environment:
      - DB_HOST=db
      - DB_NAME=envet_db
      - DB_USER=admin
      - DB_PASSWORD=admin
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: celery -A event_manager worker --loglevel=info
    volumes:
      - ./event_manager:/app
  

volumes:
  db_data: {}
  redis_data: {}